body{
    background-image: url("../assets/s.jpg");
}
.navbar{
    background-color:#7688b1;
}
.navbar-brand{
    color:white;
    text-shadow: 1px 1px 1px #021827, 2px 2px 1px #021827, 3px 3px 1px #021827, 4px 4px 1px #021827, 5px 5px 1px #021827;
    font-weight:bold;
    font-size: xx-large;
}
.allBtn{
    background-color:#021827;
    color: #7688b1;
    width:150px;
    height:60px;
    border-radius: 15px;
    font-weight:bold;
    border-color:#7688b1;
}
.subBtn{
    background-color:#7688b1;
    color:white;
    border-color:white;
}
.explainTxt{
    color: #7688b1;
    text-shadow: 1px 1px 1px #000, 2px 2px 1px #000, 3px 3px 1px #000, 4px 4px 1px #000, 5px 5px 1px #000;
}
.btnBoxTop{
    margin-right:-10px;
    margin-top: -375px;
}
.btnBox{
    margin-right:-325px;
    margin-top:20px;
}
.btnBoxBottom{
    margin-right:-530px;
    margin-top:70px;
}