@font-face {
    font-family: Acme;
    src: url("../assets/Acme-Regular.ttf");
}
body {
    background-image: url("../assets/s.jpg");
    font-family:Acme;
}

.navbar {
    background-color: #7688b1;
}

.navbar-brand {
    color: white;
    text-shadow: 1px 1px 1px #021827, 2px 2px 1px #021827, 3px 3px 1px #021827, 4px 4px 1px #021827, 5px 5px 1px #021827;
    font-weight: bold;
    font-size: xx-large;
}

.allBtn {
    background-color: #021827;
    color: #afb8cf;
    width: 150px;
    height: 60px;
    border-radius: 15px;
    font-weight: bold;
    border-color: #7688b1;
}

.subBtn {
    background-color: #7688b1;
    color: white;
    border-color: white;
}

.explainTxt {
    color: #afb8cf;
    text-shadow: 1px 1px 1px #000, 2px 2px 1px #000, 3px 3px 1px #000, 4px 4px 1px #000, 5px 5px 1px #000;
    font-size:large;
}

.btnBoxTop {
    margin-right: -455px;
    margin-top: -375px;
}

.btnBox {
    margin-right: -390px;
    margin-top: -250px;
}

.btnBoxBottom {
    margin-right: -530px;
    margin-top: -125px;
}

.rpslsImg {
    padding-left: 300px;
    padding-right: 300px;
}

.rockBtn {
    position:absolute;
    height: 180px;
    width: 180px;
    border-radius: 100px;
    margin-top:-225px;
    margin-left:650px;
    background-color:#efd2d2;
    opacity:50%;
    border-color:transparent;
}

.paperBtn {
    position:absolute;
    height: 180px;
    width: 180px;
    border-radius: 100px;
    margin-top:-475px;
    margin-left:725px;
    background-color:#fffddd;
    opacity:50%;
    border-color:transparent;
}

.scissorsBtn {
    position:absolute;
    height: 180px;
    width: 180px;
    border-radius: 100px;
    margin-top:-625px;
    margin-left:512px;
    background-color:#fed3ff;
    opacity:50%;
    border-color:transparent;
}

.lizardBtn {
    position:absolute;
    height: 180px;
    width: 180px;
    border-radius: 100px;
    margin-top:-220px;
    margin-left:390px;
    background-color:#d5f1d5;
    opacity:50%;
    border-color:transparent;
}

.spockBtn {
    position:absolute;
    height: 180px;
    width: 180px;
    border-radius: 100px;
    margin-top:-470px;
    margin-left:310px;
    background-color:#dde9ff;
    opacity:50%;
    border-color:transparent;
}
.scoreDiv{
    color:#afb8cf;
    font-size:x-large;
    text-shadow: 1px 1px 1px #000, 2px 2px 1px #000, 3px 3px 1px #000, 4px 4px 1px #000, 5px 5px 1px #000;
}





.p1rockBtn {
    position:absolute;
    height: 170px;
    width: 170px;
    border-radius: 100px;
    margin-top:-208px;
    margin-left:324px;
    background-color:#efd2d2;
    opacity:50%;
    border-color:transparent;
}

.p1paperBtn {
    position:absolute;
    height: 170px;
    width: 170px;
    border-radius: 100px;
    margin-top:-435px;
    margin-left:390px;
    background-color:#fffddd;
    opacity:50%;
    border-color:transparent;
}

.p1scissorsBtn {
    position:absolute;
    height: 170px;
    width: 170px;
    border-radius: 100px;
    margin-top:-570px;
    margin-left:200px;
    background-color:#fed3ff;
    opacity:50%;
    border-color:transparent;
}

.p1lizardBtn {
    position:absolute;
    height: 170px;
    width: 170px;
    border-radius: 100px;
    margin-top:-200px;
    margin-left:90px;
    background-color:#d5f1d5;
    opacity:50%;
    border-color:transparent;
}

.p1spockBtn {
    position:absolute;
    height: 170px;
    width: 170px;
    border-radius: 100px;
    margin-top:-430px;;
    margin-left:15px;
    background-color:#dde9ff;
    opacity:50%;
    border-color:transparent;
}





.p2rockBtn {
    position:absolute;
    height: 170px;
    width: 170px;
    border-radius: 100px;
    margin-top:-208px;
    margin-left:965px;
    background-color:#efd2d2;
    opacity:50%;
    border-color:transparent;
}

.p2paperBtn {
    position:absolute;
    height: 170px;
    width: 170px;
    border-radius: 100px;
    margin-top:-435px;
    margin-left:1030px;
    background-color:#fffddd;
    opacity:50%;
    border-color:transparent;
}

.p2scissorsBtn {
    position:absolute;
    height: 170px;
    width: 170px;
    border-radius: 100px;
    margin-top:-570px;
    margin-left:840px;
    background-color:#fed3ff;
    opacity:50%;
    border-color:transparent;
}

.p2lizardBtn {
    position:absolute;
    height: 170px;
    width: 170px;
    border-radius: 100px;
    margin-top:-200px;
    margin-left:725px;
    background-color:#d5f1d5;
    opacity:50%;
    border-color:transparent;
}

.p2spockBtn {
    position:absolute;
    height: 170px;
    width: 170px;
    border-radius: 100px;
    margin-top:-430px;
    margin-left:650px;
    background-color:#dde9ff;
    opacity:50%;
    border-color:transparent;
}